@charset "UTF-8"
@import 'settings'


/*
 * Base
 */
html
	font-size: 100%

body
	font-family: 'Arial', 'Arial Cyr', 'Helvetica', sans-serif
	margin: 0
	font-size: .88rem
	// line-height: 1.45
	line-height: 1.6
	// color: #4a4a4a
	color: #3b3b3b

a
	color: $color-primary
	text-decoration: none

img
	border: 0


// fix columnizer bug in chrome: wrong bullets offset
#wrap
	ul
		display: inline-block
		width: 100%